body{
    height: 100vh;
    width:100%;
    background-repeat: no-repeat;
    background: url("image/Irvine.jpg");
    background-size: 100% 100%;
    margin: 0%;
    /* background-image: url("image/weather-image.jpg"); */

}
#getWeather{
     width:150px;
    height:50px;
    background-color: olive;
    font-size: 20px;
    padding: 0 3%;
    border-radius: 20%;
    text-rendering: auto;
}

#temp{
    height: 200px;
    width: 100px;
    background-color: #d9534f;
}


.container {
    margin: 50px;
}


.temperature{
    color: white;
    font-size: 25px;
    width: 250px;
    width: 250px;
    float: right!important;
    position: relative;
    padding-left: 15px;
    height:170px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

}

.thunderstorm{
background-image: url("image/thunderStrom.jpg");
}

.drizzle{
    background-image: url("image/drizzle.png");
}
.rain{
    background-image:url("image/rainy.jpg");
}
.snow{
    background-image: url("image/snow.jpg");

}
.cloud{
    background-image: url("image/cloudy.jpeg");
}
 .atmosphere{
     background-image: url("image/foggy2.jpg");
 }

 .clear{
     background-image: url("image/sunny_background.jpg");
 }


.cityName{
    font-size: 40px;
    margin-right: 12px;
    width:200px;
    margin-top: 20px;
    width: 25%;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
.dateandtime{
     color: white;
     font-size: 20px;
     margin-right: 12px;
     width:200px;
    height:160px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

 }

 #currentDateandTime{
     color: #212121;
     higth:100px;
     width:200px;
     color: whitesmoke;
 }

 .description{
     font-size: 30px;
     text-shadow: -1px -1px 0 black,
     1px -1px 0 black,
     -1px 1px 0 black,
     1px 1px 0 black;

 }
 .input-data{
     width:150px;
     height:50px;
     background-color: olive;
     font-size: 20px;
     padding: 0 3%;
     border-radius: 20%;
     text-rendering: auto;

 }

 /*body {*/
    /**/
     /*width: 100%;*/
     /*height: 100vh;*/
     /*margin: 0;*/
 /*}*/