
body {
    background: url(images/brewery.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    margin: 0px;
}


.button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.middleInfo,
.info {
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-top: 5%;
}


.info {
    font-family: "Times New Roman", Times serif;
    font-size: 65px;
    font-style: italic;
    color: whitesmoke;
}

.middleInfo {
    font-family: "Times New Roman", Times serif;
    font-size: 55px;
    font-style: italic;
    color: yellow;
}


.button {
    text-decoration: none;
    margin: 20px;
    width: 300px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    border-radius: 50px;
    background-size: 500%;
    background-image: linear-gradient(to right, #f6d365 0%, #00BCD4 51%, #f6d365 100%);


}

/*.beginButton:hover {*/
    /*opacity: 1;*/
/*}*/
/*.sunButton {*/
    /*background-image: url("images/weather app.png");*/
  /*}*/


#getWeather{

    background: url("images/weather app.png") no-repeat left center;
    background-repeat: no-repeat;
    background-position: left center;
    width: 25%;
    height: 120px;
    border-radius: 17%;
    margin: 30px;


}

#temp{
    height: 200px;
    width: 100px;
    background-color: #d9534f;

}



.taxi {

    margin: 30px;

}

.topPart,
.navBar{
    width: 100%;
    height: 13%;
}

.theGoogle {
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: left center;
    width: 25%;
    height: 120px;
    border-radius: 17%;
    margin: 30px;
}

.navBar {
    display: flex;
    justify-content: center;
}

.middlePart {
    height: 60%;
    display: flex;
}

.goldStar {
    background-image: url("images/goldStar.jpeg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 25%;
    height: 120px;
    border-radius: 17%;
    margin: 30px;
}


