
body {
    background: url(images/brewery.jpg) no-repeat center center fixed;
    background-size: cover;
    /*background: url(images/brewery.jpg) ;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0px;*/
}

.button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.middleInfo,
.info {
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-top: 5%;
}


.info {
    font-family: "Times New Roman", Times serif;
    font-size: 65px;
    font-style: italic;
    color: whitesmoke;
}

.middleInfo {
    font-family: "Times New Roman", Times serif;
    font-size: 41px;
    font-style: italic;
    color: yellow;
}


.button {
    text-decoration: none;
    margin: 20px;
    width: 300px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    border-radius: 50px;
    background-size: 500%;
    background-image: linear-gradient(to right, #f6d365 0%, #00BCD4 51%, #f6d365 100%);


}

/*.beginButton:hover {*/
    /*opacity: 1;*/
/*}*/
/*.sunButton {*/
    /*background-image: url("images/weather app.png");*/
  /*}*/


#getWeather{
    background: url("images/weather app.png") no-repeat left center;
    background-repeat: no-repeat;
    background-position: left center;
    width: 25%;
    height: 120px;
    border-radius: 17%;
    margin: 30px;


}

#temp{
    height: 200px;
    width: 100px;
    background-color: #d9534f;

}



.taxi {
    margin: 30px;

}

.topPart,
.navBar{
    width: 100%;
    height: 13%;
}

.theGoogle {
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: left center;
    width: 25%;
    height: 120px;
    border-radius: 17%;
    margin: 30px;
}

.navBar {
    display: flex;
    justify-content: center;
}

.middlePart {
    height: 60%;
    display: flex;
}

.goldStar {
    background-image: url("images/goldStar.jpeg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 25%;
    height: 120px;
    border-radius: 17%;
    margin: 30px;
}


/*.goldStar .theGoogle .taxi .sunButton {*/
    /*width: 25%;*/
    /*height: 120px;*/
    /*border-radius: 17%;*/

/*}*/
.weatherMan {
    width: 100%;
    height: 100%;


}

.temperature{
    color: white;
    font-size: 25px;
    width: 250px;
    width: 250px;
    float: right!important;
    position: relative;
    padding-left: 15px;
    height:170px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

}

.thunderstorm{
    background-image: url("image/thunderStrom.jpg");
}

.drizzle{
    background-image: url("image/drizzle.png");
}
.rain{
    background-image:url("image/rainy.jpg");
}
.snow{
    background-image: url("image/snow.jpg");

}
.cloud{
    background-image: url("image/cloudy.jpeg");
}
.atmosphere{
    background-image: url("image/foggy2.jpg");
}

.clear{
    background-image: url("image/sunny_background.jpg");
}


.cityName{
    font-size: 40px;
    margin-right: 12px;
    width:200px;
    margin-top: 20px;
    width: 25%;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
.dateandtime{
    color: white;
    font-size: 20px;
    margin-right: 12px;
    width:200px;
    height:160px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

}

#currentDateandTime{
    color: #212121;
    higth:100px;
    width:200px;
    color: whitesmoke;
}

.description{
    font-size: 30px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

}
.input-data{
    width:150px;
    height:50px;
    background-color: olive;
    font-size: 20px;
    padding: 0 3%;
    border-radius: 20%;
    text-rendering: auto;

}

